<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<div>
    <div class="container">
       
            <div class="row">
              <div class="col-sm">
                <p>&nbsp;</p>
              </div>
              <div class="col-md">
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
              </div>
              <div class="col-sm">
                  <p>&nbsp;</p>
              </div>
            </div>
          
        <div class="row">
          <div class="col-sm">
         
          </div>
          <div class="col-md">
              <h2>Operaciones Basicas </h2>
              <div>
                <label>Dato 1:
                  <input type="number" [(ngModel)]="productData.datoa" placeholder="introduzca un numero"/>
                </label><br>
                <label>Dato 2:
                  <input type="number" [(ngModel)]="productData.datob" placeholder="introduzca un numero"/>
                </label><br>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
             
              </div>
             
          </div>
          <div class="col-sm">
              <p>Resultado:</p>
              <p>&nbsp;</p>
                <p>&nbsp;</p>
              <p>{{Resultado}}</p>
          </div>
        </div>

       
      </div>
  
  
</div>


<div class="container">
    <div class="row">
      <div class="col-sm">
     
      </div>
      <div class="col-md">
          <button title="Sumar" class="btn btn-primary" (click)="addSuma()">+</button>
          &nbsp; &nbsp;
          <button title="Restar" class="btn btn-info" (click)="addResta()">-</button>
          
      </div>
      <div class="col-sm">
       
      </div>
    </div>
  </div>